<% @page_title = "UserAuth | Login" -%>
<div class="col-md-4">

</div>
<div class= "sign-up col-md-4">
  <div style="text-align: center">
    <%= image_tag 'logo_transparent.png', width: '200'%>
  </div>
  <h2 style="text-align: center;">Welcome!</h2>
  <h3>Login to continue to your dashboard</h3>
  <%= form_tag(:action => 'login_attempt') do %>
    <p>Username or Email:</br> <%= text_field_tag(:username_or_email, '', class: 'form-control action-btns') %></p>
    <p>Password:</br> <%= password_field_tag :login_password, '', class: 'form-control action-btns' %></p>
    <div style="text-align: center; margin-top: 15px;">
      <%= submit_tag("Log In", class: 'btn btn-custom') %>
      <% end %>
  <%= button_to 'Signup', signup_path, :method => 'get', class: 'btn btn-custom' %><br>

  </div>

</div>
<div class="col-md-4">

</div>