<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
  <title>HostelMate</title>
  <%= favicon_link_tag asset_path('favicon.ico') %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<header>
  <% if session[:user_id].present? %>
    <%= render partial: "shared/header"%>
  <% end %>
</header>
<body>
<%= render partial: "shared/flash_messages", flash: flash %>
<div class="container-fluid" style="margin-top:50px;">
  <body>
    <%= yield %>
  </body>
</div>
</body>

<footer>
  <% if session[:user_id].present? %>
    <%= render partial: "shared/footer"%>
  <% end %>
</footer>
</html>
